<label class="t3js-formengine-label" for="meta_key">
    <f:translate key="tx_mask.all.fieldkey"/>*
</label>
<div class="t3js-formengine-field-item">
    <div class="form-control-wrap">
        <input
            v-model="element.key"
            id="meta_key"
            class="form-control lowercase"
            required="required"
            placeholder="{f:translate(key: 'tx_mask.all.fieldkey')}"
            title="{f:translate(key: 'tx_mask.all.fieldkey')}"
        />
    </div>
</div>

<label class="t3js-formengine-label" for="meta_label">
    <f:translate key="tx_mask.content.title"/>*
</label>
<div class="t3js-formengine-field-item">
    <div class="form-control-wrap">
        <input
            v-model="element.label"
            id="meta_label"
            class="form-control"
            required="required"
            placeholder="{f:translate(key:  'tx_mask.content.title')}"
            title="{f:translate(key: 'tx_mask.content.title')}"
        />
    </div>
</div>
<label class="t3js-formengine-label" for="meta_shortlabel">
    <f:translate key="tx_mask.all.shorttitle"/>
</label>
<div class="t3js-formengine-field-item">
    <div class="form-control-wrap">
        <input
            v-model="element.shortLabel"
            id="meta_shortlabel"
            class="form-control"
            required="required"
            placeholder="{f:translate(key: 'tx_mask.all.shorttitle')}"
            title="{f:translate(key: 'tx_mask.all.shorttitle')}"
        />
    </div>
</div>
<label class="t3js-formengine-label" for="meta_description">
    <f:translate key="tx_mask.all.description"/>
</label>
<div class="t3js-formengine-field-item">
    <div class="form-control-wrap">
        <textarea
            v-model="element.description"
            id="meta_description"
            class="form-control"
            required="required"
            placeholder="{f:translate(key: 'tx_mask.all.description')}"
            title="{f:translate(key: 'tx_mask.all.description')}"
        ></textarea>
        <f:form.hidden property="type" value="tt_content"/>
        <f:form.hidden property="orgkey" value="{storage.key}"/>
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <label class="t3js-formengine-label" for="meta_icon">
            <a href="https://fortawesome.github.io/Font-Awesome/icons/" target="_blank">
                <f:translate key="tx_mask.all.icon"/>
            </a>
        </label>
        <div class="t3js-formengine-field-item icon-field">
            <div class="form-control-wrap">
                <select
                    class="form-control"
                    id="meta_icon"
                    title="{f:translate(key:'tx_mask.all.icon')}"
                >
                </select>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <label class="t3js-formengine-label" for="meta_color">
            <f:translate key="tx_mask.all.color"/>
        </label>
        <div class="t3js-formengine-field-item">
            <div class="form-control-wrap">
                <input
                    v-model="element.color"
                    type="color"
                    class="form-control"
                    id="meta_color"
                    placeholder="{f:translate(key: 'tx_mask.all.color')}"
                    title="{f:translate(key: 'tx_mask.all.color')}"
                />
            </div>
        </div>
    </div>
</div>
