<div class="row bench">
    <div class="col-sm-2 tx_mask_borderright tx_mask_tabcell1">
        <div @click="mode = 'list'"><-- Back</div>
        <div v-if="type == 'tt_content'">
            <f:render partial="VueElement" arguments="{storage: storage}"/>
        </div>
        <div>
            <button class="btn btn-success col-sm-12" @click="save">{f:translate(key:'tx_mask.content.save')}</button>
            <button class="btn btn-default col-sm-12">{f:translate(key:'tx_mask.content.saveandexit')}</button>
        </div>
    </div>
    <div class="col-sm-4 tx_mask_tabcell4">
        <label class="t3js-formengine-label">
            <f:translate key="tx_mask.all.add_new_fields"/>
        </label>
        <div class="col-sm-12 tx_mask_tabcell5">
            <ul class="tx_mask_fieldtypes tx_mask_field_templates" id="dragstart">
                <draggable
                    :list="fieldTypes"
                    :group="{name: 'fieldTypes', pull: 'clone', 'put': false}"
                    :sort="false"
                    :clone="handleClone"
                    :move="onMove"
                >
                    <li v-for="type in fieldTypes" class="tx_mask_btn mask_tooltip" @click="addField(type)">
                        <span class="tooltiptext">{{ type.name }}</span>
                        <div class="tx_mask_btn_row">
                            <div class="tx_mask_btn_img" v-html="type.icon"></div>
                        </div>
                    </li>
                </draggable>
            </ul>
        </div>
        <label class="t3js-formengine-label">
            <f:translate key="tx_mask.all.fields_of_element"/>
        </label>
        <div class="form-group col-sm-12 tx_mask_borderright tx_mask_tabcell2">
            <nested-draggable :depth="0" :index="0" :fields="fields" :icons="icons" :global="global" :move="onMove"/>
        </div>
    </div>
    <div class="form-group col-sm-6 tx_mask_tabcell3">
        <f:render partial="VueForm"/>
    </div>
</div>
