<p>
    <f:translate key="tx_mask.content.html.line1" extensionName="mask"/>
    <br/>
    <f:translate key="tx_mask.content.html.line2" extensionName="mask"/>
    <br/>
    <f:translate key="tx_mask.content.html.line3a" extensionName="mask"/>
    <a href="https://docs.typo3.org/typo3cms/ExtbaseGuide/Fluid/ViewHelper/" target="_blank">
        <b><f:translate key="tx_mask.content.html.line3b" extensionName="mask"/></b>
    </a>
    <f:translate key="tx_mask.content.html.line3c" extensionName="mask"/>
</p>
<f:if condition="{html}">
    <f:then><pre>{html}</pre></f:then>
    <f:else><pre>This element has no fields.</pre></f:else>
</f:if>
